html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "CMU Concrete", serif;
}
html[data-theme='light'] {
	background-color: #eee8d5;
	color: #839496;
}
html[data-theme='dark'] {
	background-color: #073642;
	color: #657b83;
}
body {
	margin: 0;
	padding: 0;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	display: flex;
	flex-direction: column;
	border: #f0f0f0 solid 1px;
}
h1 {
	margin: 10px auto;
}
html[data-theme='light'] h1 {
	color: #b58900;
}
html[data-theme='dark'] h1 {
	color: #d33682;
}
.row {
	margin: 0;
	padding: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
#source-border, #output-border {
	margin: 0 8px;
	width: 200px;
	vertical-align: top;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
textarea {
	padding: 8px;
	flex-grow: 1;
	font-family: "Neo Euler", monospace;
	font-size: large;
	border-color: #f0f0f0;
	resize: none;
}

html[data-theme='light'] textarea {
	color: #839496;
	border-color: #839496;
	background-color: #fdf6e3;
}
html[data-theme='dark'] textarea {
	color: #657b83;
	border-color: #657b83;
	background-color: #002b36;
}
svg {
	flex-grow: 1;
	margin: 0;
	padding: 8px;
	border: solid 1px #f0f0f0;
	vertical-align: top;
	flex-grow: 1;
}
html[data-theme='light'] svg {
	border: solid 1px #839496;
}
html[data-theme='dark'] svg {
	border: solid 1px #657b83;
}
svg line {
	stroke: black;
}
html[data-theme='light'] svg line {
	stroke: #93a1a1;
}
html[data-theme='dark'] svg line {
	stroke: #93a1a1;
}
button {
	font-size: large;
	font-family: "CMU Concrete", serif;
	margin: 10px;
}
.sep {
	background: green;
	margin: 0;
	border: 1px #f0f0f0 solid;
	height: calc(100% - 2px);
}
html[data-theme='light'] .sep {
	border: solid 1px #839496;
}
html[data-theme='dark'] .sep {
	border: solid 1px #657b83;
}
label {
	font-size: large;
	margin-bottom: 8px;
}
